body{
  font-family: 'Roboto Mono', monospace;
}
.logo{
  background:url(../images/logo.svg) no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  height: 42px;
}
.menu{
  a {
    text-decoration: none;
    color: white;
  }
  a:hover{
    color:gray;
  }
}
.banner{
  background-image: url(../images/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  height: 680px;
  .box{
    width: 650px;
    height: 260px;
    >h2{
      background: linear-gradient(to top, #62DB54, #09ACF5);
      background-clip: text;
      color: transparent;
    }
    h2{
      font-weight: bold;
    }
  }
  .square {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
}