.logo{
  img{
    width: 170px;
    height: 42px;
  }
}
.menu{
  a {
    text-decoration: none;
    color: white;
  }
  a:hover{
    color:gray;
  }
}
.banner1{
  background-image: url(../../images/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}